/* Add this to your global CSS file (e.g., styles.css) */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background-color: hsla(0, 3%, 13%, 0.233); 
  border-radius: 0px;
}



::-webkit-scrollbar-thumb {
  background-color: #858586;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* Adjust the value for more or less bounce */
  }
}

.animate-icon {
  animation: spin 2s linear infinite, bounce 1s ease-in-out infinite;
}